
version: "3.8"
services:
  cyber_playground:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
      - CYBER_PLAYGROUND_SECRET=nemesis-secret-docker
    restart: unless-stopped
